* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.hedear-lista {
    min-width: 40%;
}
header .hedear-logo {
    margin: 10px;
}
.hedear-lista ul {
    display: flex;
}
.hedear-lista ul li {
    margin: 10px 10px;
    list-style: none;  
}

.main-section_info {
   height: 30%;
   width: 100%;
   padding: 20px; 
}

.main-section_cifrado {
    /* display: flex; */
    height: 50%;
}
input {
    width: 40%;
    height: 250px;
}

.btn-conver {
    width: 20%;
    margin: 0 10px;
    height: 50px;
    border-radius: 10px;
}

.section-return_msj {
    width: 40%;
    height: 250px;
    border: solid black 1px;
}

.section-traslator {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
    padding: 0 10px 0 10px;
}

.main-section_typeCifrado {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    padding: 10px;
}
.main-section_typeCifrado button{
    margin: 10px;
    border: solid 1px #b9ffff;
    height: 2.6rem;
    line-height: 1.2rem;
    padding: 10px;
    border-radius: 15px;
    background-color: #155db1;
    color: white;
}
.main-section_typeCifrado button:hover {
    color: #002973;
    background-color: whitesmoke;
    cursor: pointer;
}

.options-roots {
    height: 2.5rem;
    align-self: center;
    border-radius: 15px;
}