* {
    box-sizing: border-box;
    margin: 0px;
    font-size: 10px;
}

body {
    /* width: 100%; */
    height: 100vh;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    /* border: solid 1px black */
}

.hedear-logo img {
    width: 10rem;
    height: 7rem;

}

.hedear-lista {
    min-width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hedear-lista a {
    font-size: 2.3rem;
    text-decoration: none;
    margin-top: 25px;
    margin-right: 5px;
}

header .hedear-logo {
    margin: 10px;
}
.hedear-lista ul {
    display: flex;
}
.hedear-lista ul li {
    margin: 10px 10px;
    list-style: none;  
}
main {
    height: auto;
}
.main-section_info {
   height: auto;
   width: 100%;
   padding: 20px; 
}

.main-section_cifrado {
    position: relative;
    height: 80%;
}
.textArea {
    width: 40%;
    height: 250px;
    font-size: 2rem;
}

.btn-conver {
    width: 20%;
    margin: 0 10px;
    height: 50px;
    border-radius: 10px;
}
.main-section_info p {
    font-size: 1.6rem;
    line-height: 3.2rem;
    font-family: arial,x-locale-body,sans-serif;
    letter-spacing: 1px;
    
}

.section-return_msj {
    width: 40%;
    height: 250px;
    border: 1px solid black;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

.section-traslator {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    padding: 0 10px 0 10px;
}

.main-section_typeCifrado {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    padding: 10px;
    font-size: 2rem;
}
.typeCifrado-buttons{
    margin: 10px;
    border: solid 1px #0b5897;
    height: 41.5px;
    line-height: 1.5rem;
    /* padding: 10px; */
    border-radius: 15px;
    color: #002973;
    background-color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.4rem;
}
.boton-click {
    background-color: #155db1;
    color: white;
}
.main-section_typeCifrado button:hover {
    transform: scale(1.1);
}

.options-roots {
    height: 4.5rem;
    align-self: center;
    border-radius: 15px;
    font-size: 1.6rem;
    /* background-color: #5893d6; */
    color:#0b5897 ;
    border: solid 1px #0b5897;
}

.btn-conver {
    background-color:#0b5897 ;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
}
.btn-conver:hover {
    background-color: white;
    color: #0b5897;
    border: 1px solid #155db1;
    cursor: pointer;
}

.options-roots:hover {
    cursor: pointer;
}

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    /* margin-top: 10rem; */
    padding-bottom: 5px;
    position: absolute;
    /* bottom: -1px; */
    width: 100%;
}

footer a {
    width: 50px;
    align-self: flex-end;
}

footer a i {
    font-size: 2.3rem;
    color: #0b5897;
}
footer a i:hover {
    transform: scale(1.05);
}

footer p {
    align-self: flex-end;
    font-size: 2rem;
    margin-right: 1rem;
    height: auto;

}

@media (min-width: 1300px) {
    footer {
        margin-top: 10rem;
    }
}

@media (max-width: 600px) {
    .section-traslator {
        flex-direction: column;
    }
    .main-section_typeCifrado {
        justify-content: space-evenly;
    }

    .btn-conver {
        margin: 20px 0;
    }
    .textArea {
        min-width: 80%;
    }
    .section-return_msj {
        min-width: 80%;
    }
}